header {
    width: 90%;
    height: 15%;
    margin: 0% 5%;
    text-align: center;
    background: #2697d8ab;

}

menu {
    width: 10%;
    height: 580px;
    background: rgba(100, 121, 214, 0.5);
    position: fixed;
    left: 10px;
    margin: 0px 0px 0px 10px;
}

article {
    width: 80%;
    height: 60%;
    margin: 50px 0% 10px 15%;
    background: rgba(50, 42, 168, 0.4);
}

footer {
    height: 15%;
    width: 90%;
    margin: 0% 4%;
    padding: 10px;
    background: rgba(50, 42, 168, 0.4);
    border-radius: 20px;

}